/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url('../images/bg.jpg');
	opacity: 0.8;
	z-index: -1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
	//width:100%;
	width: 1000px;
	height:1220px;
	margin: 0 auto;
	box-shadow: 0px 8px 8px 0px;
	background-color: #FFF;
}
.header{
	position: relative;
	float: left;
	//width:90%;
	width: 1000px;
	height:8.5%;
	margin:0 auto;
	box-shadow: 0px 0px 4px 1px;
}
.header a{
	text-decoration: none;
	color: black;
	z-index: 1;
}
.background img{
	display: block;
	width: 1000px;
	height: 100%;
	position: absolute;
	opacity: 0.4;
	z-index: 0;
}
.header h1{
	padding-top: 30px;
	font-size: 2em;
	font-family: 微軟正黑體;
	font-weight: bold;
	display: block;
	position: relative;
	float:left;
	margin-left: 30px;
	z-index: 1;
}
.header h1:hover{
	color:#737373;
}
.logo{
	width: 100px;
	height: 100px;
	position: relative;
	float: left;
	z-index: 1;
}
.logo a img{
	display: block;
	margin-left: 20px;
	margin-right: 10px;
	float:left;
	text-indent: -99999px;
	//background: url('../images/logo2.png');
	z-index: 1;
}
.logo a img:hover{
	opacity: 0.8;
}
.right{
	position: relative;
	float: right;
}
.right a{
	margin-right: 10px;
	margin-top: 35px;
	font-size: 20px;
	font-family: Arial;
	color:#888;
}
.right a:hover{
	color:#003377;
}
.main{
	position: relative;
	float: left;
	//width:100%;
	width: 1000px;
	height:89%;
}
.latest{
	position: relative;
	background-image: url("../images/vote.PNG") ;
	width:624px;
	/*height: 279px;*/
	height: 26%;
	margin: 0 auto;
	margin-top: 20px;
	background-color: #FFFFBB;
}
.candidate {
	position: relative;
	float: left;
	//width:90%;
	width: 1000px;
	margin: 0 auto;
	margin-top: 5px;
	border-top: #000 dashed 2px;
}
.candidate ul{
	position: relative;
	width: 1000px;
}
.candidate li{
	position: relative;
	float: left;
	width: 230px;
	margin-left: 15px;
}
.box{
	position: relative;
	float: left;
	margin-top: 15px;
	margin-bottom: 10px;
	//width: 24%;
	width: 230px;
	height: 360px;
	background: #EBF5FF;
	border-color: #444;
	border-radius: 20px;
	border-width: 1px;
	//background-image: linear-gradient(to bottom, #CCEEFF 75%, #EEFFBB 100%);
	box-shadow: 2px 3px 3px 2px #666;
}
.box h2{
	display: block;
	font-family: 微軟正黑體;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color:#404040;
	margin-bottom: 10px;
}
.box h2:hover{
	color:#737373;
}
.box h3{
	display: block;
	font-family: 微軟正黑體;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color:red;
	margin-bottom: 10px;
}
.box img{
	width: 160px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 5px;
}
.box img:hover{
	opacity: 0.8;
}
.box a{
	display: block;
	margin: 0 auto;
	margin-bottom: 2px;
	text-align: center;
	text-decoration: none;
	font-family: 微軟正黑體;
}
.box a.vote{
	display: block;
	position: relative;
	float: left;
	border-radius: 10px;
	background-color: #AA0000;
	width: 70px;
	height: 35px;
	margin-left: 35px;
	margin-right: 5px;
	margin-bottom: 15px;
	text-align: center;
	text-decoration: none;
	line-height: 35px;
	font-family: 微軟正黑體;
	color: #FFF;
}
.box a.vote:hover{
	color: #444;
}
/*.box input{
	margin:0 40%;
	margin-bottom: 10px;
}*/
.box a.facebook{
	display: block;
	position: relative;
	float: left;
	border-radius: 10px;
	background-color: #3a5795;
	width: 85px;
	height: 35px;
	//margin: auto;
	margin-bottom: 15px;
	text-align: center;
	text-decoration: none;
	line-height: 35px;
	font-family: 微軟正黑體;
	color: #FFF;
}
.box a.facebook:hover{
	color: #444;
}
.footer{
	position: relative;
	float: left;
	//width:100%;
	width: 1000px;
	height:2.5%;
	bottom: 0px; 
	background: #000048;
}
.footer a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	font-family: Arial;
	line-height: 30px;
}
.footer a:hover{ 
	color: #DDD;   
}