html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
	width: 100%;
	margin: 0 auto;
}
.content{
	width: 100%;
	height: 570px;
	padding-top: 20px;
	margin: 0 auto;
	margin-top: 15px;
	//background-color: #ddd;
	overflow: hidden;
	border-top: #CC6600 solid 2px; 
}
.right{
	width: 450px;
	position: relative;
	float: left;
	margin-right: 40px;
	padding-left: 70px;
	//background-color: blue;
	border-left: #CC6600 solid 2px; 
}
.login{
	width: 350px;
	position: relative;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	padding-bottom: 30px;
	border-bottom: #CC6600 solid 2px; 
}
.new{
	width: 400px;
	position: relative;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
}
.login h2, .new h2{
	font-size: 35px;
	font-family: 微軟正黑體;
	margin-bottom: 20px;
}
.login input[type="text"], .login input[type="password"], 
.new input[type="text"], .new input[type="password"]{
	height: 30px;
	width: 290px;
	font-size: 20px;
	font-family: 微軟正黑體;
	border-radius: 5px;
	margin-bottom: 15px;
	padding-left: 5px;
	border-color: #FFEE99;
	border-style: solid;
}
.login input[type="submit"], .new input[type="submit"]{
	height: 30px;
	width: 100px;
	font-size: 20px;
	font-family: 微軟正黑體;
	border-radius: 5px;
	text-align: center;
	background-color: #FFAA33;
	color: #fff;
	font-weight: bold;
	margin-top: 10px;
	cursor: pointer;
}
.left {
	width: 800px;	/* 圖片的寬880 */
	height: 530px;	/* 圖片的高550 + 30 */
	position: relative;
	float: left;
	padding-right: 10px;
	border: 0px solid #ddd;
	margin-left: 80px;
	margin-top: 17px;
}
.player {
	width: 800px;	/* 圖片的寬 */
	height: 500px;	/* 圖片的高 */
	position: relative;
	overflow: hidden;
}
.player ul.list {
	position: absolute;
	width: 9999px;
	height: 100%;
}
.player ul.list li {
	float: left;
	width: 800px;	/* 圖片的寬 */
	height: 100%;
}
.player ul.list img{
	width: 100%;
	height: 100%;
	border: 0;
}
.control {
	height: 24px;
	padding: 3px;
	color: #fff;
	font-size: 13px;
	background: #333;
}
.control ul {
	float: left;
}
.control ul li {
	float: left;
	padding: 0 5px;
	line-height: 20px;
	margin: 2px;
	background: #666;
	cursor: pointer;
}
.control ul.numbers {
	margin-left: 13px;
}
.control ul li.current {
	background: #fff;
	color:#000;
}
.control ul li.hover {
	background: #fff;
	color:#000;
}
.footer p{
	text-align: center;
}